* {
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: -3px 22px 36px -13px rgba(0,0,0,0.10);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

@keyframe opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}